<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Pohang University of Science and Technology (POSTECH)</address></span>
        </header>
        <p>- Design of Compiler (CSED 423) <time>Fall 2019</time></p>
        <p>- Data Structure (CSED 233) <time>Spring 2019</time></p>
        <p>- Computer Architecture (CSED 311) <time>Spring 2018</time></p>
    </article>
    <article>
        <header>
            <h1>Development Intern</h1>
            <span><address>8percent @ Seoul</address><time>Apr. 2016 - Dec. 2016</time></span>
            <p>- Backend engineer using Django (<a href="https://brunch.co.kr/@leehosung/34?fbclid=IwAR0oBSSh6_PImfEx8PjkfPGPMviNkCB2qSpmd6Pg8XWjWon2iSg32vNEh2g" style="color:#0055b3;">An essay after leaving</a>)</p>
        </header>
        <p></p>
    </article>
</section>
