<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Machine Learning Engineer</h1>
            <span><address>Skelter Labs </address><time>2021.11-</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Pohang University of Science and Technology (POSTECH)</address></span>
        </header>
        <p>- Data Structure (CSED 233) <time>Spring 2020</time></p>
        <p>- Design of Compiler (CSED 423) <time>Fall 2019</time></p>
        <p>- Computer Architecture (CSED 311) <time>Spring 2019</time></p>
        <header>
            <span><address>Samsung Advanced Technology Training Institute</address></span>
        </header>
        <p>- Advanced data programming course <time>Feb. 2018, Jun. 2019 to Nov. 2019, May 2020 to Nov. 2020</time>
        </p>
    <article>
        <header>
            <h1>Development Intern</h1>
            <span><address>8percent @ Seoul</address><time>Apr. 2016 to Dec. 2016</time></span>
            <p>- Backend engineer using Django (<a href="https://brunch.co.kr/@leehosung/34?fbclid=IwAR0oBSSh6_PImfEx8PjkfPGPMviNkCB2qSpmd6Pg8XWjWon2iSg32vNEh2g" style="color:#0055b3;">An essay after leaving</a>)</p>
        </header>
        <p></p>
    </article>
</section>
