<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Pohang University of Science and Technology (POSTECH)</address></span>
        </header>
        <p>Design of Compiler (CSED 423) <time>Fall 2019</time></p>
        <p>Data Structure (CSED 233) <time>Spring 2019</time></p>
        <p>Computer Architecture (CSED 311) <time>Spring 2018</time></p>
    </article>
    <article>
        <header>
            <h1>Development Intern</h1>
            <span><address>8percent @ Seoul</address><time>Apr. 2016 - Dec. 2016</time></span>
        </header>
        <p></p>
    </article>
</section>
