<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>수업 조교</h1>
            <span><address>포항공과대학교(POSTECH)</address></span>
        </header>
        <p>- 데이터구조(CSED 233) <time>2020년 1학기</time></p>
        <p>- 컴파일러 디자인(CSED 423) <time>2019년 2학기</time></p>
        <p>- 컴퓨터구조(CSED 311) <time>2019년 1학기</time></p>
    </article>
    <article>
        <header>
            <h1>개발 인턴</h1>
            <span><address>8percent </address><time>2016.04-2016.12</time></span>
            <p>- Django를 이용한 백엔드 개발 (<a href="https://brunch.co.kr/@leehosung/34?fbclid=IwAR0oBSSh6_PImfEx8PjkfPGPMviNkCB2qSpmd6Pg8XWjWon2iSg32vNEh2g" style="color:#0055b3;">관련 글</a>)</p>
        </header>
        <p></p>
    </article>
</section>
