<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>자연어-SQL 번역 기술 연구</h1>
            <span><address>POSTECH Database and Data Mining Lab</address><time>2018.05-2019.12</time></span>
        </header>
        <p>[논문] Kim, H., <em>So, B.</em>, Han, W., and Lee, H., <em>"Natural language to SQL: Where are we today?,"</em> <proceedings>In 46th Int'l Conf. on Very Large Data Bases (VLDB) / Proc. the VLDB Endowment (PVLDB), Aug. 2020</proceedings></p>
        <p>- 자연어-SQL 번역 기술을 분석하여 분류</p>
        <p>- 기존 정확도 측정 방식의 문제점을 제기하고, 새로운 정확도 측정 방식 제안</p>
        <p>- 논문의 2저자로서 대부분의 실험 진행과 정확도 측정 도구 개발에 참여</p>
    </article>
    <article>
        <header>
            <h1>텍스트 마이닝을 위한 딥러닝 모델 개발</h1>
            <span><address>POSTECH Database and Data Mining Lab</address><time>2017.07-2018.04</time></span>
        </header>
        <p>- CNN과 RNN을 이용하여 비정형 웹 데이터를 정형 데이터로 변환하는 모델을 개발</p>
    </article>
</section>
