<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>Collect a Japanese question-answering dataset</h1>
            <span><address>Skelter Labs</address><time>2021.12-2022.02</time></span>
        </header>
        <p>- Measure perforance of Japanese MRC model and deploy dataset.</p>
        <p>- Write arXiv paper (<a href="https://arxiv.org/pdf/2202.01764.pdf" style="color:#0055b3;">link</a>)</p>
    </article>
    <article>
        <header>
            <h1>Text-SQL data collection</h1>
            <span>At <address>Database and Data Mining Lab in POSTECH</address><time>Jan. 2020 to Apr. 2021</time></span>
        </header>
        <p>- Research into data augmentation and data synthesis for text and SQL queries.</p>
        <p>- Research on text-SQL parallel data collection process.</p>
    </article>
    <article>
        <header>
            <h1>A survey on text-to-SQL parsing models</h1>
            <span>At <address>Database and Data Mining Lab in POSTECH</address><time>Apr. 2018 to Dec. 2019</time></span>
        </header>
        <p>[Publication] Kim, H., <em>So, B.</em>, Han, W., and Lee, H., <em>"Natural language to SQL: Where are we today?,"</em> <proceedings>In 46th Int'l Conf. on Very Large Data Bases (VLDB) / Proc. the VLDB Endowment (PVLDB), Aug. 2020</proceedings><p/>
        <p>- This paper provides a survey and a taxonomy of existing text-to-SQL models. We performed extensive experiments to compare text-to-SQL models, showed that accuracy measures used in previous studies are misleading, and compared the accuracy of the models correctly.<p/>
        <p>- As the second author of the paper, I collected a data set, performed most of the experiments, and participated in developing the validation tool to measure the semantic accuracy of the models.</p>
    </article>
    <article>
        <header>
            <h1>Development of a deep-learning model for text mining</h1>
            <span>At <address>Database and Data Mining Lab in POSTECH</address><time>Jul. 2017 to Apr. 2018</time></span>
        </header>
        <p>- We developed and implemented a model for transforming unstructured web data into structured data by using CNN and RNN.</p>
    </article>
</section>
