<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>Research into Text-to-SQL</h1>
            <span><address>Database and Data Mining Lab in POSTECH</address><time>Feb. 2018 to Dec. 2019</time></span>
        </header>
        <p>[Publication] Kim, H., <em>So, B.</em>, Han, W., and Lee, H., <em>"Natural language to SQL: Where are we today?,"</em> <proceedings>In 46th Int'l Conf. on Very Large Data Bases (VLDB) / Proc. the VLDB Endowment (PVLDB), Aug. 2020</proceedings><br/>
           This paper provides a survey and a taxonomy of existing text-to-SQL models. We perform extensive experiments to compare text-to-SQL models and show that accuracy measures used in previous studies are misleading.<br/>
           As the second author of the paper, I perform most of the experiments and participate in developing the validation tool to measure the semantic accuracy of the models.</p>
    </article>
</section>
